#modal-container{
background-color: white;
 position: absolute;
 top: 0;
 left: 0;
 pointer-events: none;
 border-radius: 10px;
 z-index: 1000;
 overflow: hidden;
 box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}

#modal-description{
    font-weight: 300;
    padding: 10px;
    margin: 0;    
}

#modal-window{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.modal-animation{
    animation-name: popup;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes popup{
    to{opacity: 0;}
}